<!DOCTYPE html>
<html lang="es">

<head>  
  <title>Dashboard</title>
  <%- include('partials/head') %>    
</head>

<body class="bg-light background-pattern">  
  <!-- HEADER -->
  <%- include('partials/header') %>

  <!-- ASIDE -->
  <%- include('partials/aside') %>

  <!-- MAIN-->
  <main>
  </main>    
</body>

</html>