<!-- SIDEBAR -->

<nav class="col-md-2 col-lg-2 d-md-block border-end vh-100 pt-4 bg-light" style="text-decoration: none">
  <div class="px-3">
    <h5 class="mb-3">Productos</h5>
    <ul class="nav flex-column">
      <% if (user && (user.rol==='admin' || user.rol==='vendedor' )) { %>
        <% // Show Dashboard to both roles %>
          <li class="nav-item">
            <button class="nav-link btn btn-outline-info" onclick="location.href='/dashboard'"><span
                class="icon-dashboard"></span>Dashboard</button>
          </li>
          <% } %>



            <% if (user && user.rol==='vendedor' ) { %>
              <li class="nav-item">
                <button class="nav-link btn btn-outline-info" onclick="location.href='/stock'"><span
                    class="icon-stock"></span>Stock</button>
              </li>
              <li class="nav-item">
                <button class="nav-link btn btn-outline-info" onclick="location.href='/products'"><span
                    class="icon-stock"></span>Productos</button>
              </li>
              <li class="nav-item">
                <button class="nav-link btn btn-outline-info" onclick="location.href='/orders'"><span
                    class="icon-orders"></span>Órdenes</button>
              </li>
              <li class="nav-item">
                <button class="nav-link btn btn-outline-info" onclick="location.href='/horario'"><span
                    class="icon-schedule"></span>Horarios</button>
              </li>
              <li class="nav-item">
                <button class="nav-link btn btn-secondary" disabled><span
                    class="icon-billing"></span>Facturación</button>
              </li>
              <% } %>


                <% if (user && (user.rol==='admin' || user.rol==='vendedor' )) { %>
                  <li class="nav-item">
                    <button class="nav-link btn btn-outline-warning" onclick="location.href='/auth/profile'"><span
                        class="icon-settings"></span>Perfil</button>
                  </li>
                  <% } %>

                    <% // The Logout link should always be visible for logged-in users %>
                      <% if (user) { %>
                        <li class="nav-item">
                          <button class="nav-link btn btn-outline-danger" onclick="location.href='/auth/logout'"><span
                              class="icon-logout"></span>Logout</button>
                          <% // Ensure the logout route is correct %>
                        </li>
                        <% } %>
    </ul>
  </div>
</nav>