<header class="bg-white shadow-sm py-3">
      <a
        href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
      >
        <img class="logo"
          src="../resources/imagenes/stock2b_logo_233x214.png"
          alt="Logo"
          height="85"
          class="me-3"
        />
        <span class="fs-4">Gestión de Stock</span>
      </a>

    </header>